input[type="text"] {
    display: block;
    width: 400px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
    border: 1px solid rgba(0,0,0,.5);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color:darkkhaki;
  }

input[type=text]:focus {
    background-color: darkslateblue;
}

input {
    margin-top: 5px;
}

form {
    left: 50%;
    padding-left: 40%;
    color: antiquewhite;
}

body {
    /* background-color: rgba(22, 21, 21, 0.61); */
    background-color: black;
}

/* List */
ol {
    counter-reset: index;  
    padding: 0;
  }

/* List element */
li {
    color: antiquewhite;
    counter-increment: index; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 1em;
    box-sizing: border-box;
    background: #5f0cfaad;
    margin-bottom: 15px;
    border-radius: 2em;
}

h3 {
    position: relative;
    padding-bottom: 10px;
}
  
h3:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
}

p {
    margin-top: 15px;
    text-align: left;
    padding-left: 10px;
}

/* Element counter */
li::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    min-width: 50px;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, aquamarine, orangered);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* Element separation */
li + li {
    border-top: 1px solid rgba(255,255,255,0.2);
  }

input[type="submit"] {
    display: inline-block;
    border-radius: 4px;
    background-color: wheat;
    border: none;
    color: black;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

input[type="submit"]:hover {
    background-color: darkblue;
    color: white;
  }